# Ignore Python Virtual Environments
venv/
.env
.venv/
env/
__pycache__/

# Ignore System Files
.DS_Store
Thumbs.db

# Ignore Compiled & Log Files
*.pyc
*.pyo
*.log

# Ignore IDE/Editor-Specific Files
.vscode/
.idea/

# Ignore Debugging & Temp Files
*.tmp
fallback/acrcloud_scan_files_python3/config.yaml

